html{
    height:100%;
    width:100%;
    background-color:gray;
}
body{
    height:100%;
    width: 100%;
}
main{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
}
svg{
    margin:auto;
}
#etoile2{
    fill: #ffcc00;
}

#etoile2:hover {
    fill: red;
    /* background-image: url("../img/snow-verydense-blur.png"); */
}

#boule {
    opacity:0.98000004;
    fill:#ffffff;
    fill-opacity:0.37341775;
    stroke:#faffff;
    stroke-width:0.616;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-dashoffset:0;
    stroke-opacity:1;
}





